[Desktop Entry]
Name=enigma
Comment=Oxyd clone
Comment[pl]=Klon gry Oxyd
Icon=enigma
Exec=enigma
Terminal=false
Type=Application
Categories=Game;LogicGame;
# vi: encoding=utf-8
