[Desktop Entry]
Encoding=UTF-8
Name=enigma
Comment=Oxyd clone
Comment[pl]=Klon gry Oxyd
Icon=enigma.png
Exec=enigma
Terminal=false
Type=Application
Categories=Application;Game;LogicGame;
# vi: encoding=utf-8
